.container-card {
  margin: 0;
  width: 180px;
  height: 220px;
  transform-origin: right top;
  perspective: 50rem;
  cursor: pointer;
}

.card {
  position: relative;
  width: 180px;
  height: 220px;
  margin: 0 0 0 40px;
  border-radius: 12px;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: ease-in 0.4s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  box-shadow: 0 0 1.5rem black;
}

.flipped {
  transform: rotateY(180deg) translateX(-100%);
  transform-origin: left;
}

.not-flipped {
  transform: rotateY(0);
  transform-origin: left;
}

.card-front {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  border-radius: 12px;
}

.card-back {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../../assets/liefs.jpg);
  border-radius: 12px;
}
