<div class="p-10 flex flex-col gap-8">
  <mat-title mat-dialog-title class="text-center">Settings</mat-title>
  <mat-dialog-content class="flex flex-col p-4">
    <mat-form-field>
      <mat-label>Field size</mat-label>
      <mat-select [(ngModel)]="selectedType">
        <mat-option value="4x4">4x4</mat-option>
        <mat-option value="5x5">5x5</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-center px-8 pb-4">
    <button
      class="btn-control-panel justify-center w-full text-xl"
      (click)="onConfirm()"
    >
      Confirm
    </button>
  </mat-dialog-actions>
</div>
