<header
  class="flex min-h-14 items-center justify-center gap-10 rounded-md bg-transparent [box-shadow:rgba(100,_100,_111,_0.2)_0px_7px_29px_0px] lg:px-8 lg:pb-0"
>
  <button
    class="link flex gap-2 border-x-indigo-500 h-full items-center p-2 cursor-pointer"
  >
    <lucide-icon name="home" class="my-icon"></lucide-icon>
    <span>Settings</span>
  </button>
  <button class="flex gap-2" (click)="openDialogAboutMe()">
    <lucide-icon name="user" class="my-icon"></lucide-icon>
    <span id="create-text">About Me</span>
  </button>
</header>
